{%extends 'base.html'%}

{%block content%}
    <div class="jumbotron">
          <h1 class="display-3 centered">Add a student</h1>
          <form method="POST">
            {%csrf_token%}
            <div class="input-group mb-3">
                  <label for="number">Number: </label>
                  <input type="text" class="form-control" name="number" id="number"> <br>

                   <label for="name">Name: </label>
                   <input type="text" class="form-control" name="name" id="name"> <br>

                   <label for="surname">Surname: </label>
                   <input type="text" class="form-control" aria-describedby="basic-addon2" name="surname" id="surname">

                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Send</button>
                  </div>
            </div>
          </form>
    </div>
{%endblock%}
