{%extends 'base.html'%}

{%block content%}
    <div class="jumbotron">
        {%if student%}
                <h1 class="display-3 centered">Info of a student</h1>
                <br>
                <ul>
            {%for s in student%}
                <form action="" method="POST">
                    {%csrf_token%}
                    <p>ID number:<input type="text" class="form-control" name="number" value="{{s.id_of_student}}"></p>
                    <p>First Name:  <input type="text" class="form-control" name="name" value="{{s.name}}"></p>
                    <p>Last Name: <input type="text" class="form-control" name="surname" value="{{s.surname}}"></p>
                    <button class="btn btn-primary" type="submit">Edit</button>
                </form>
                <br>

            <p class="lead">Courses of the student</p>
                {%for c in s.course.all%}
                    <ul>
                        <li>{{c.name_of_course}} | <a href="{%url 'study:delete_course' s.id c.id%}"> Delete</a></li>
                    </ul>
                {%endfor%}
            <p class="lead">You can add courses </p>
            {%endfor%}
            <form action="" method="POST">
                 {%csrf_token%}
                <select name="dropdown_courses" id="">
                    {%for course in courses%}
                        <option value="{{course.id}}" name="course">{{course.name_of_course}}</option>
                    {%endfor%}
                </select>
                    <button class="btn btn-primary" type="submit">Add course</button>
            </form>

        {%else%}
        <p class="lead">No students! You can add students <a href="{%url 'study:add_student'%}">here</a></p>
        {%endif%}
    </div>
{%endblock%}
